/*
Copyright 2014 Luís Pina

This file is part of Luís Pina personal website.

   Luís Pina personal website is free software: you can redistribute it and/or modify
   it under the terms of the GNU General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   Luís Pina personal website is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU General Public License for more details.

   You should have received a copy of the GNU General Public License
   along with Luís Pina personal website.  If not, see <http://www.gnu.org/licenses/>.
*/
ol.bibliography {
    list-style-type: circle;
}

.navbar-nav {
	width: 100%;
	text-align: center;
}

.navbar-nav>li {
	float: none;
	display: inline-block;
}

svg { height: 100%; width: 100%; }

div.gradient {
    background-color: #eef5fa;
    /* IE9, iOS 3.2+ */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiIG9mZnNldD0iMCIvPjxzdG9wIHN0b3AtY29sb3I9IiNkZGVhZjQiIHN0b3Atb3BhY2l0eT0iMSIgb2Zmc2V0PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%,color-stop(0, rgb(255, 255, 255)),color-stop(1, rgb(221, 234, 244)));
    /* Android 2.3 */
    background-image: -webkit-linear-gradient(top,rgb(255, 255, 255) 0%,rgb(221, 234, 244) 100%);
    /* IE10+ */
    background-image: linear-gradient(to bottom,rgb(255, 255, 255) 0%,rgb(221, 234, 244) 100%);
    background-image: -ms-linear-gradient(top,rgb(255, 255, 255) 0%,rgb(221, 234, 244) 100%);
}
 
/* IE8- CSS hack */
@media \0screen\,screen\9 {
    div.gradient {
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffffff",endColorstr="#ffddeaf4",GradientType=0);
    }
}

div.comments {
    padding-top: 10px;
}
