<p>
[<a href="/details/{{ key }}.html">{{ number }}</a>]
<b>{{ paper.title.plain }}</b>.
{% for paper_author in paper.authors %}
	{% assign author = site.data.authors[paper_author] %}
		{% if paper_author == "me" %}
			<span style="text-decoration: underline">{{ author.name }}</span>{% if forloop.last %}. {% endif%}
		{% else %}
			<a href="{{ author.url }}" target="_blank">{{ author.name }}</a>{% if forloop.last %}. {% endif%}
		{% endif %}
	{% unless forloop.last %} and {% endunless%}
{% endfor %}
{% case p.type %}
	{% when "conference" %}
	In <i>Proceedings of the {{ p.publisher}} {{ p.nth }} {{ p.title.full }} ({{ p.title.short}})</i>,
	{% when "workshop" %}
	In <i>Proceedings of the {{ p.nth }} {{ p.title.full }} ({{ p.title.short}})</i>,
	{% when "phdthesis" %}
	PhD dissertation, {{ p.school.plain }},
	{% when "mscthesis" %}
	MSc dissertation, {{ p.school.plain }},
{% endcase %}
{{ p.date | date: "%B, %Y"	}}.
{% if p.notes != null %}
	{{ p.notes }}.
{% endif %}
</p>
