---
# Copyright 2014 Luís Pina
#
# This file is part of Luís Pina personal website.
#
#    Luís Pina personal website is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Luís Pina personal website is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Luís Pina personal website.  If not, see <http://www.gnu.org/licenses/>.
layout: default
---
	{% assign paper=site.data.papers[page.paper] %}
	<h1>{{ paper.title.plain }}</h1>
	<div style="margin-bottom: 30px">
	{% if paper.downloads != null %}
		{% if paper.downloads.pdf != null %}
		|
		<a href="{{ site.baseurl }}/pdfs/{{ paper.downloads.pdf }}" target="_blank">PDF</a>
		{% endif %}
		{% if paper.github %}
		|
		<a href="https://github.com/{{ paper.github }}" target="_blank">github</a>
		{% endif %}
		{% if paper.downloads.slides != null %}
		|
		<a href="{{ site.baseurl }}/pdfs/{{ paper.downloads.slides }}" target="_blank">slides</a>
		{% endif %}
		{% if paper.downloads.poster != null %}
		|
		<a href="{{ site.baseurl }}/pdfs/{{ paper.downloads.poster }}" target="_blank">poster</a>
		{% endif %}
		|
	{% endif %}
	</div>
	<p>
	  {% assign authors_bibtex = "" %}
		{% for paper_author in paper.authors %}
			{% assign author = site.data.authors[paper_author] %}
			{% assign authors_bibtex = authors_bibtex | append: author.bibtex	%}
		  {% if paper_author == 'me' %}
		  	<b>{{ author.name }}</b>
		  {% else %}
		  	<a href="{{ author.url }}" target="_blank">{{ author.name }}</a>
		  {% endif %}
			{% unless forloop.last %} and {% endunless%}
			{% unless forloop.last %}
				{% assign authors_bibtex = authors_bibtex | append: " and "	%}
			{% endunless%}
		{% endfor %}
		<br/>
		{% assign p = paper.publication %}
		{% assign m = p.date | date: "%m" %}
		{% case p.type %}
			{% when "conference" %}
                {% if p.nopub %}
                    In Proceedings of the  {{ p.prenth }} {{ p.nth }} {{ p.title.full }} {{ p.postnth}} ({{ p.title.short}})<br/>
                {% else %}
                    In Proceedings of the  {{ p.prenth }} {{ p.publisher}} {{ p.nth }} {{ p.title.full }} {{ p.postnth}} ({{ p.title.short}})<br/>
                {% endif %}
			{% when "workshop" %}
			In Proceedings of the {{ p.nth }} {{ p.title.full }} ({{ p.title.short}})<br/>
			{% when "phdthesis" %}
			PhD Dissertation, {{ p.school.plain}}<br/>
			{% when "mscthesis" %}
			MSc Thesis, {{ p.school.plain}}<br/>
		{% endcase %}
		{{ p.date | date: "%B, %Y" }}
	</p>
	<h3>Abstract</h3>
  <p style="white-space: pre-wrap;">{{ paper.abstract }}</p>
	<h3>Bibtex</h3>
	{% if paper.title.bibtex == null %}
		{% assign t = paper.title.plain %}
	{% else %}
		{% assign t = paper.title.bibtex %}
	{% endif %}
	{% case p.type %}
		{% when "conference" %}
	<pre>@inproceedings{{ "{" }}{{ page.paper }},
  title     = {{ "{" }}{{ t }}},
  author    = {{ "{" }}{{ authors_bibtex }}},
{% if p.nopub %}  booktitle = {Proceedings of the {{ p.nth }} {{ p.title.full }}},
{% else %}  booktitle = {Proceedings of the {{ "{" }}{{ p.publisher}}} {{ p.nth }} {{ p.title.full }}},
{% endif %}  year      = {{ "{" }}{{ p.date | date: "%Y" }}},
  month     = {{ site.data.latex.months[m] }},
  series    = {{ "{" }}{{ p.title.short }} '{{ p.date | date: "%y" }}},
  location  = {{ "{" }}{{ p.location }}},
  publisher = {{ "{" }}{{ p.publisher }}},
  {% if p.notes != null %}notes     = {{ "{" }}{{ p.notes }}},{% endif %}
}
	</pre>
		{% when "workshop" %}
	<pre>@inproceedings{{ "{" }}{{ page.paper }},
  title     = {{ "{" }}{{ t }}},
  author    = {{ "{" }}{{ authors_bibtex }}},
  booktitle = {Proceedings of the {{ p.nth }} {{ p.title.full }}},
  year      = {{ "{" }}{{ p.date | date: "%Y" }}},
  month     = {{ site.data.latex.months[m] }},
  series    = {{ "{" }}{{ p.title.short }}},
  location  = {{ "{" }}{{ p.location }}},
  publisher = {{ "{" }}{{ p.publisher }}},
  {% if p.notes != null %}notes     = {{ "{" }}{{ p.notes }}},{% endif %}
}
	</pre>
		{% when "phdthesis" %}
	<pre>@phdthesis{{ "{" }}{{ page.paper }},
  title     = {{ "{" }}{{ t }}},
  author    = {{ "{" }}{{ authors_bibtex }}},
  school    = {{ "{" }}{{ p.school.bibtex }}},
  year      = {{ "{" }}{{ p.date | date: "%Y" }}},
  month     = {{ site.data.latex.months[m] }},
  location  = {{ "{" }}{{ p.location }}},
  {% if p.notes != null %}notes     = {{ "{" }}{{ p.notes }}},{% endif %}
}
	</pre>
		{% when "mscthesis" %}
	<pre>@mastersthesis{{ "{" }}{{ page.paper }},
  title     = {{ "{" }}{{ t }}},
  author    = {{ "{" }}{{ authors_bibtex }}},
  school    = {{ "{" }}{{ p.school.bibtex }}},
  year      = {{ "{" }}{{ p.date | date: "%Y" }}},
  month     = {{ site.data.latex.months[m] }},
  location  = {{ "{" }}{{ p.location }}},
  {% if p.notes != null %}notes     = {{ "{" }}{{ p.notes }}},{% endif %}
}
	</pre>
	{% endcase %}
