---
# Copyright 2014 Luís Pina
#
# This file is part of Luís Pina personal website.
#
#    Luís Pina personal website is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Luís Pina personal website is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Luís Pina personal website.  If not, see <http://www.gnu.org/licenses/>.
layout: default
---
<div style="position: relative; float: left;">
	<img src="imgs/personal.jpg" style="margin-top: 10px; margin-bottom:
	10px; margin-left: 10px; margin-right: 10px;
	border-width:1px;padding:3px;" alt="Picture" class="galleryImageBorder" />
</div> <!-- photo div -->
<div style="position: relative; float: left;">
	<div style="display: inherit; font-weight: bold; font-size: x-large; padding-top:
		10px; padding-bottom: 20px;">Luís Gabriel Ganchinho de Pina</div>
	<table width="90%" style="border-spacing: 10px;">
		<tr>
			<td style="font-weight: bold;">E-mail:</td>
			<td>
				<a id="OGKCF" href="{{ site.url }}">
					<span id="nxyh">[ point here]</span>
				</a>
				<script type="text/javascript">
owEmail("OGKCF", "nxyh", "axd~", "luispina.me", key, "Luís Pina");
				</script>
			</td>
		</tr>
    <!--
		<tr>
			<td style="font-weight: bold;">Phone:</td>
			<td>+351 213 100 361</td>
		</tr>
    -->
		<tr>
			<td style="vertical-align: top; font-weight: bold;">Address:</td>
			<td>
          Department of Computing, Huxley Building, 180 Queen's Gate<br/>
          South Kensington Campus, Imperial College London <br/>
          SW7 2AZ <br/>
          London<br/>
          United Kingdom
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; font-weight: bold;">Resumé:</td>
			<td>
				<a href="{{ site.url}}/resume.pdf"
					target="blank">Download (pdf)</a>
				<br/>
				Updated: July 2013
			</td>
		</tr>
	</table>
</div> <!-- contacts div -->
<div style="clear: both; padding-top: 30px;">{{ content }}</div>
