---
# Copyright 2014 Luís Pina
#
# This file is part of Luís Pina personal website.
#
#    Luís Pina personal website is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Luís Pina personal website is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Luís Pina personal website.  If not, see <http://www.gnu.org/licenses/>.
layout: default
---
<div style="position: relative; float: left;">
	<img src="imgs/personal.jpg" class="mainphoto" style="margin-top: 10px; margin-bottom:
	10px; margin-left: 10px; margin-right: 10px;
	border-width:1px;padding:3px;" alt="Picture" class="galleryImageBorder"
/>
</div> <!-- photo div -->
<div class="maintext" style="position: relative; float: left;">
	<div style="display: inherit; font-weight: bold; font-size: x-large; padding-top:
		10px; padding-bottom: 20px;">Luís Gabriel Ganchinho de Pina</div>
	<table width="90%" style="border-spacing: 10px;">
		<tr>
			<td style="font-weight: bold;">E-mail:</td>
			<td>
				<a id="OGKCF" href="{{ site.baseurl }}">
					<span id="nxyh">[ point here]</span>
				</a>
				<script type="text/javascript">
showEmail("OGKCF", "nxyh", "axd~", "luispina.me", key, "Luís Pina");
				</script>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; font-weight: bold; padding-right: 10px;">Address:</td>
			<td>
                Department of Computer Science<br/>
                George Mason University<br/>
                4400 University Drive MSN 4A5<br/>
                Fairfax, VA 22030, USA<br/>
			</td>
		</tr>
		<tr>
			<td style="vertical-align: top; font-weight: bold; padding-right: 10px;">Office:</td>
			<td> 5323 Nguen Engineering Building </td>
		</tr>
	</table>
    <div style="padding-top: 50px;">{{ content }}</div>
</div> <!-- contacts div -->
