---
# Copyright 2014 Luís Pina
#
# This file is part of Luís Pina personal website.
#
#    Luís Pina personal website is free software: you can redistribute it and/or modify
#    it under the terms of the GNU General Public License as published by
#    the Free Software Foundation, either version 3 of the License, or
#    (at your option) any later version.
#
#    Luís Pina personal website is distributed in the hope that it will be useful,
#    but WITHOUT ANY WARRANTY; without even the implied warranty of
#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#    GNU General Public License for more details.
#
#    You should have received a copy of the GNU General Public License
#    along with Luís Pina personal website.  If not, see <http://www.gnu.org/licenses/>.
layout: default
---

{% assign project = site.data.projects[page.project] %}

<h1> {{ project.title }} </h1>

{{ content }}

{% if project.links.size > 0 %}
	<h2> Links </h2>
	<ul>
		{% for link in project.links %}
			<li> <a href={{ link.url }}>{{ link.name }}</a> </li>
		{% endfor %}
	</ul>
{% endif %}

<h2> Papers </h2>
	{% for paper_key_val in site.data.papers %}
		{% assign paper = paper_key_val[1] %}
		{% assign key   = paper_key_val[0] %}
		{% if paper.projects contains page.project %}
			{% assign p = paper.publication %}
			{% assign number = number | plus: 1 %}
			{% include paper_bibline.html %}
		{% endif %}
  {% endfor %}
